body {
    font-family: "Roboto";
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    
    align-items: center;
}

.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1000px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    gap: 20px;
}

.hero-main {
    display: flex;
    width: 1000px;
}

.hero-column-one {
    display: flex;
    flex-wrap: wrap;

    width: 500px;
}

.hero-column-two {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-secondary {
    color: #E5E7EB
}
