html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto";
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;
    align-items: center;
}

h3 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 12px;
    width: 120px;
    font-size: 18px;
    font-weight: 500;
    padding: 7px;
    margin-top: 5px;
}

p {
    margin: 0;
    padding: 0;
}

/* || Hero Text with Header */
.sec-one {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    
    align-items: center;
    gap: 100px;
    padding-bottom: 100px;
    height: 450px;

    flex: auto;
    margin: 0;
    align-self: stretch;
}

.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1000px;
    flex: auto;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    gap: 20px;
}

.hero-main {
    display: flex;
    width: 1000px;
    gap: 50px;

    flex: auto;
}

.hero-column-one {
    display: flex;
    flex-flow: column wrap;

    flex: 1;
    gap: 10px;
}

.hero-column-two {
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex: 1;
    background-color: #88898b;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;

    margin: 0;
    padding: 0;
}

.secondary-text {
    color: #E5E7EB;
}

.hero-signup {
    border: 1px solid #3882F6;
}

/* || Section 2 of Page */
.sec-two-title {  
    margin: 0 auto;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;

    margin-top: 50px;
}

.sec-two {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 50px;
    padding-bottom: 80px;
}

.box {
    max-width: 160px;
}

img {
    padding: 80px;
    border: 3px solid #3882F6;
    border-radius: 12px;
}

.box-secondary-text {
    color: gray;
    text-align: center;
}

/* || Section 3 of Page (Quote Section) */
.sec-three {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    padding: 150px 260px;

    flex: auto;
    align-self: stretch;
}

.thor {
    font-weight: bold;
    font-size: 24px;
    
    margin-top: -140px;
    margin-right: -400px;

}

/* || Section 4 of Page (CTA) */
.sec-four {
    padding: 120px 130px;
    background-color: white;
    margin-top: 120px;
}

.cta-box {
    display: flex;
    
    background-color: #3882F6;
    padding: 50px 150px;
    gap: 150px;
    border-radius: 12px;
    border: 1px solid blue;
}

.cta-message-big {
    font-size: 24px;
    color: #F9FAF8;
}

.cta-message-small {
    margin-top: 5px;
    font-size: 18px;
    color: #E5E7EB;
}

.cta-signup-button {
    border: 2px solid white;
}

/* || Footer */
.footer-message {
    background-color: #1F2937;
    font-size: 18px;
    color: #F9FAF8;
    padding: 45px;

    align-self: stretch;
    text-align: center;
}