body {
    font-family: "Roboto";
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 12px;
    border: 1px solid #3882F6;
    width: 120px;
    font-size: 18px;
    font-weight: 500;
    padding: 7px;
}

/* || Hero Text with Header */
.hero-text {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    
    align-items: center;
    gap: 100px;
}

.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1000px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    gap: 20px;
}

.hero-main {
    display: flex;
    width: 1000px;
}

.hero-column-one {
    display: flex;
    flex-flow: column wrap;

    flex: 1;
}

.hero-column-two {
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex: 1;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;

    margin: 0;
    padding: 0;
}

.hero-secondary {
    color: #E5E7EB
}
